/* Common Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


/* General Common Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 16px sans-serif;
    font-family: "Maven Pro";
    color: #666;
    scroll-behavior: smooth !important;
}

/*Utilities*/
img{
    max-width: 100%;
}

.check {
    position: relative;
    width: 50px;
}

.check:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background:#333;
    border-radius: 25px;
}

.check:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 25px;
    transition: 0.25s;
    border: 2px solid #333;
    box-sizing: border-box;
}

.check:checked:after {
    left: 25px;
    border: 2px solid #FF8A05;
}

.check:checked:before {
    background: #FF8A05;
}



/**/

nav,ul{
    flex: 1;
    list-style: none;
    text-align: right;
}

nav ul li{

    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font: bold 20px 'Maven Pro', san-serif;
}


nav ul li a:hover{
    color: #FF8A05;
}

.navbar span{
    font: bold 20px 'Maven Pro', san-serif;
    color: black;
    margin-top: 20px;
}



.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.colm-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.colm-1 h2{
    font: bold 50px 'Maven Pro', san-serif;
    margin: 20px 0 10px;
    color: black;
}
.colm-1 p{
    font: bold 20px 'Maven Pro', san-serif;
    color: #BDBDBD;
    margin: 40px 0;
}

button{
    width: 240px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background-color: #FF8A05;
    border-radius: 30px;
    cursor: pointer;
    font: semi-condensed 24px 'Maven Pro', san-serif;
}

.colm-2{

}
.colm-2 .artesano_with_mate{
    width: 100%;
}



/**/



hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin-bottom: 80px;
}

section h3.title{
    color: #414a4f;
    text-transform: capitalize;
    font: bold 32px 'Maven Pro', san-serif;
    margin-bottom: 35px;
    text-align: center;
}


section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}


/* Support Section*/


.supports{
    background-color: #ffffff;

}

.supports .grid li{
    flex-basis: 20%;
    text-align: center;
    padding: 30px;
    text-align: center;
}

.supports h4{
    font-size: 20px;
    color: #BDBDBD;
    padding: 10px;
    text-align: center;
}

@media (max-width: 1349px){
    .supports .grid li{
        flex-basis: 40%;
        padding: 30px;
    }
    .supports .grid li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .supports .grid li{
        flex-basis: 60%;
    }
}


/* Services section */
.services{
    background-color: #ffffff;

}

.services .grid li{
    flex-basis: 24%;
    text-align: center;
    padding: 70px;

}

.services .grid li i{
    font-size: 80px;
    color: #222222;
    margin-bottom: 25px;
}

.services .grid li h4{
    color: #FF8A05;
    font: bold 32px 'Maven Pro';
    margin-bottom: 25px;
}

.services .grid li p{
    margin: 0;
}


.services h4{
    font-size: 20px;
    color: #FF8A05;
    padding: 10px;
    text-align: center;
}

.services h1{
    font-size: 40px;
    color: black;
    padding: 1px;
    text-align: center;
}

@media (max-width: 1000px){
    .services .grid li{
        flex-basis: 70%;
        margin-bottom: 65px;
    }
    .services .grid li:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 600px){
    .services .grid li{
        flex-basis: 100%;
    }
}





/* OurCommunity Section */

.WR_family{
    display: block;
}

.comment_artesan{
    display: none;
}
.comment_user{
    display: none;
}

.community h4{
    font-size: 20px;
    color: #FF8A05;
    padding: 10px;
    text-align: center;
}

.community h1{
    font-size: 40px;
    color: black;
    padding: 30px;
    text-align: center;
}



/* media */
@media only screen and (max-width:700px){
    nav ul{
        width: 100%;
        background: #FF8A05;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
    }
    .WR_family{
        display: none;
    }

    .comment_artesan{
        display: block;
    }
    .comment_user{
        display: block;
    }

    #lista_menu{
        overflow: hidden;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }
    .colm-2{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
    .colm-2 .artesano_with_mate{
        width: 100%;
    }

    .colm-1{
        flex-basis: 100%;
    }
    .colm-1 h2{
        font-size: 35px;
    }

    .colm-1 p{
        font-size: 35px;
    }

}

/*Trending Products*/

.trending_products h4{
    font-size: 20px;
    color: #FF8A05;
    padding: 10px;
    text-align: center;
}

.trending_products h1{
    font-size: 40px;
    color: black;
    padding: 30px;
    text-align: center;
}

/* Craftsman Product Presentation Style */
.rectangle img {
    max-width: 96%;
    padding-top: 18%;
    padding-left: 10%;
    border-radius: 16px;
}

.rectangle {
    width: 400px;
    height: 550px;
    left: 198px;
    top: 3421px;
    background: #FF8A05;
    border-radius: 16px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.container-1-1 {
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

.container-1 {
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

.containMain2-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    align-content: center;
}

.containerHeader {
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containMain {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    gap: 8rem;
}

.item h4 {
    margin-top: 80px;
    width: 310px;
    height: 16px;
    left: 731px;
    top: 3500px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    color: #FF8A05;
}

.item h3 {
    margin-top: 30px;
    margin-left: -190px;
}

.item h5 {
    margin-left: -190px;
    color: #B7B4B4
}

.item h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 618px;
    height: 62px;
    left: 760px;
    top: 3553px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0.01em;
    color: #222224;
}

.punctuation ul1 {
    color: #FF8A05;
    margin-left: 40px;
}

.punctuation p {
    margin-right: 80%;
}

.punctuation {
    padding-bottom: 20px;
}

/*Call to action style*/
.containMain2-1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    align-content: center;
}

.containMain3 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: auto;
}

.containerHeader2 {
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #FF8A05;
    justify-content: center;
    align-items: center;
}

.container2 {
    max-width: 1100px;
    margin: 0 auto;
    width: 78%;
}

.searcher {
    padding: 25px 0px;
}

.searcher input{
    width: 400px;
    height: 40px;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 12px;
    border-color: transparent;
}

.containerButton {
    padding: 20px 40px;
    display: inherit;
    align-items: center;

}

.containerButton button {
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    font-style: normal;
    letter-spacing: 0.01em;
    background-color: #222224;
    font-size: 14px;
    font-family: "Maven Pro";
    border-radius: 12px;
    border-color: transparent;
    color: white;
}

.title1 {
    margin-top: 80px;
}

.space img {
    width: 400px;
    align-content: center;
    justify-content: center;
}



/* About the prooduct*/

.about_product{
    text-align:  center;
    align-content: center;
    justify-content:  center;
    padding-bottom: 10%;
}

.about_product h1{
    font-size: 40px;
    color: #FF8A05;
    text-align: center;
    padding-bottom: 5%;
}
/*About The Team*/
.about_team{
    text-align:  center;
    align-content: center;
    justify-content:  center;
    padding-bottom: 10%;
}

.about_team h1{
    font-size: 40px;
    color: #FF8A05;
    text-align: center;
    padding-bottom: 5%;
}



/*Footer Style*/
.containerHeader3 {
    height: 50vh;
    display: flex;
    background-color: #222224;
    justify-content: center;
    align-items: center;
}
.containerMain4 {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: auto;
}

.container3 {
    color: white;
    max-width: 1100px;
    margin-left: 400px;
    width: 90%;
    font-size: 10px;
}

.container5 {
    max-width: 1100px;
    margin-bottom: 90px;
    width: 95%;
}

.ColorText h3 {
    width: 160px;
    color: white;
    font-size: 16px;
    margin-left: 7px;
}

.ColorText h4 {
    color: #FF8A05;
    font-size: 24px;
    pading: 10px 10px;
}

.ColorText li {
    margin-top: 5px;
    padding: 0px 10px;
    color: #E2E2E2;
}

.TextDetail {
    width: 300px;
}

.sizeIcon {
    margin-right: 60px;
    width: 15px;
    height: 40px;
}

.position {
    font-size: 10px;
    color: white;
}

.containerHeader4 {
    height: 4vh;
    display: flex;
    background-color: #222224;
    justify-content: center;
    align-items: center;
}

.ColorText h1 {
    color: white;
}

.ColorText p {
    color: white;
}

.item2 {
    padding-top: 50px;
}

.item2 li:first-child {
    margin-top: 20px;
}

.item2 ul {
    padding-left: 20px;
}

.item2 ul li a{
    color: #E2E2E2;
}

/*Call to action responsive*/
@media screen and (max-width: 1150px) {
    .containerHeader {
        margin-top: 20px;
        height: auto;
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containMain {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .rectangle img {
        max-width: 95%;
        padding-top: 10%;
        padding-left: 16%;
        border-radius: 16px;
    }

    .rectangle {
        width: 450px;
        height: 550px;
        background: #FF8A05;
        border-radius: 16px;
    }

    .item h4 {
        padding-bottom: 40px;
        width: auto;
        margin-top: -50px;
    }

    .container-1-1 {
        max-width: 1100px;
        margin: 0 auto;
        width: 95%;
    }

    .containMain2-2 h3 {
        margin-left: -30%;
        margin-top: 40px;
    }

    .containMain2-2 h5 {
        margin-left: -30%;
    }

    .circle {
        margin-top: 20px;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-left: 20%;
    }

    .p1 p {
        margin-top: 20px;
        width: 75%;
        text-align: center;
        justify-content: center;
    }

    .containMain p {
        padding: 0% 3%;
        justify-content: center;
        align-content: center;
    }

    .punctuation ul1 {
        margin-left: -1%;
    }
}

/*Call-To-Action Responsive*/
@media screen and (max-width:1140px) {
    .containerHeader2 {
        height: auto;
        display: flex;
        background-color: #FF8A05;
        justify-content: center;
        align-items: center;
    }

    .containMain3 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: auto;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .containMain2 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: 100%;
        align-content: center;
    }

    .containMain2-3 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: 100%;
        align-content: center;
    }

    .containMain2-1 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        height: 100%;
        align-content: center;
    }

    .space img {
        width: 400px;
        align-content: center;
        justify-content: center;
    }

    .item h1{
        width: 100%;
        height: auto;
        text-align: center;
        justify-content: center;
        margin-top: -20px;
    }

    .item p {
        width: auto;
        height: auto;
        text-align: center;
        justify-content: center;
        margin-top: 20px;
    }

    .searcher {
        padding-left: 40%;
    }

    .searcher input{
        width: 135%;
        height: 40px;
        font-size: 16px;
        border-radius: 12px;
        border-color: transparent;
    }

    .containerButton {
        padding-left: 25%;
    }

    .containMain2-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: auto;
        align-items: center;
    }

    .punctuation ul1 {
        color: #FF8A05;
        padding-left: 7%;
    }

    .punctuation {
        padding-bottom: 20px;
    }

    .punctuation p {
        padding-left: 3%;
    }
}

/*Footer Responsive*/
@media screen and (max-width:1180px) {
    .containerHeader3 {
        height: auto;
        display: flex;
        background-color: #222224;
        justify-content: center;
        align-items: center;
        padding-left: 15%;
    }
    .containerMain4 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }

    .container3 {
        color: white;
        max-width: 1100px;
        margin-left: 400px;
        width: 90%;
        font-size: 10px;
    }

    .container5 {
        max-width: 1100px;
        margin-bottom: 90px;
        width: 95%;
    }

    .ColorText h3 {
        width: 160px;
        color: white;
        font-size: 20px;
        margin-left: 20px;
    }

    .ColorText h4 {
        color: #FF8A05;
        font-size: 30px;
    }

    .item2 li {
        text-align: left;
        margin-top: 20px;
        font-size: 16px;
    }
    @media screen and (max-width: 700px) {
        .containerHeader3 {
            height: auto;
            display: flex;
            background-color: #222224;
            justify-content: center;
            align-items: center;
            padding-left: 0%;
        }
    }
}